<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link href="../static/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<head>
    <meta charset="UTF-8">
    <title>Gender checker</title>
</head>
<body>
<div id="grad1"></div>

<h1> Hello,<br> I will tell you your gender</h1>

<form class="check-name-form" th:action="@{/index}" method="POST">
    <div><input  style="font-size:25px;" class="inputName"
                 type="text" th:value="${checkName}" name="checkName"
                 placeholder="Enter your names" required minlength="3"/></div>

        <div class="checkboxes"th:value="${check}">

    <button class="myButton" name="check" type="submit" value="1">Check Your gender by first name</button>
    <button class="myButton" name="check" type="submit" value="2">Check Your gender by all name</button>

        </div>
</form>

<div class="answer"><p th:text="${checkedGender}"></p></div>

</body>
<script src="../static/js/script.js"></script>
</html>